build/*.js
dist
ROOT
public
public/moduleJs
public/static
public/mock.js
package.json

src/assets
src/components
src/config

src/views/business
src/views/demo
src/views/default/Text.vue
src/views/default/TextOld.vue
src/views/module/flow/Worklist.vue
src/views/module/flow/View.vue

src/views/panel/NewPanelEdit.vue
src/views/panel/PanelEdit.vue
src/views/panel/panelMenu.md
src/views/panel/PanelView.vue
src/views/panel/components/vue-draggable-resizable

src/views/report
