// .moduleEditCode_MIDDLEWARE {

// }
.el-dialog__wrapper {
    .bd-module-list__btn {
        display: none;
    }
    //  .bd-dialog{
    //     width: 55vw !important;
    // }            
    .h-per-100 {
        height: auto !important;
        padding-bottom: 10px !important;
    }
    .middleware-item{
        margin-left: 30px !important;
    }
     .bd-dialog {
        width: 40%;
     }
     .header-right {
        display: none;
     }
              
}